<div class="container-fluid">
<img src="/assets/img/burger.png">
<h2>Eat-Da-Burger!</h2>


<div class="row">

  <div class="col">
    <h2>Not devoured!</h2>
<ol>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
  {{burger_name}} <button data-id="{{id}}" class="devour" type="button">Devour it!</button>
  </li>
  {{/unless}}
  {{/each}}
</ol>
</div>
<div class="col">
<h2>Are devoured!</h2>

<ol>
  {{#each burgers}}
  {{#if devoured}}
  <li>
  {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ol>
</div>
</div>
<form class="text-center create-burger">
<textarea  id="textInput"></textarea>
<br>
<button id="submit" class="btn btn-sm btn-primary" type="submit">submit</button>
</form>
<br>
<p class="text-center">Enter a burger you want to eat and then click "Submit."</p>
</div>