<h1>Eat-Da-Burger!</h1>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
  {{burger_name}} <button data-id="{{id}}" class="devour" type="button">Devour it!</button>
  </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
  {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>

<textarea  id="textInput" cols="30" rows="10"></textarea>
<button id="submit" type="submit">submit</button>